:root {
    color-scheme: light dark;
}

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-div {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: light-dark(#DDDDDD, #222831);
}

@media (prefers-color-scheme: dark) {
    .main-div {
        background: linear-gradient(90deg, rgb(34, 40, 49, 1) 58%, rgb(34, 40, 49, 0.1) 100%);
    }
}

@media (prefers-color-scheme: light) {
    .main-div {
        background: linear-gradient(90deg, rgba(221, 221, 221, 1) 58%, rgba(221, 221, 221, 0.1) 100%);
    }
}

.image-div {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    
}

.buttons-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: light-dark(#DDDDDD, #222831);
    width: 40vw;
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: light-dark(#DDDDDD, #222831);
    width: 40vw;
}

.head-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    width: 60%;
}

a{
    color: #F05454;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.input{
    background: light-dark(#222831, #DDDDDD);
    color: #F05454;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.input::placeholder{
    color: light-dark(#DDDDDD, #222831);
}

.password{
    display: flex;
    position: relative;
    align-items: center;
}

.password input{
    width: 100%;
}

.password img{
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    filter: invert(0);
}

@media (prefers-color-scheme: light){
    .password img{
        filter: invert(1);
    }
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}

.loginButton, .registerButton, .updateButton, .deleteButton{
    outline: none;
    border: none;
    border-radius: 4px;
    color: #DDDDDD;
    cursor: pointer;
    background: #F05454;
    padding: 15px;
}

.loginButton:hover, .registerButton:hover, .updateButton:hover, .deleteButton:hover{
    background: light-dark(#222831, #DDDDDD);
    color: #F05454;
}

.backButton, .logoutButton{
    outline: none;
    border: none;
    border-radius: 4px;
    color: #DDDDDD;
    cursor: pointer;
    background: #30475E;
    padding: 15px;
}

.backButton:hover, .logoutButton:hover{
    background: light-dark(#222831, #DDDDDD);
    color: light-dark(#DDDDDD, #30475E);
}

.editButton{
    outline: none;
    border: none;
    border-radius: 4px;
    color: light-dark(#DDDDDD, #30475E);
    cursor: pointer;
    background: light-dark(#222831, #DDDDDD);
    padding: 15px;
}

.editButton:hover{
    background: light-dark(#30475E, #30475E);
    color: #DDDDDD;
}

@media (max-width: 945px){
    .image-div{
        display: none;
    }

    .form-div, .buttons-div{
        width: 100vw;
    }

    .head-div, .form{
        width: 50%;
    }
}

@media (max-width: 495px){
    .head-div, .form{
        width: 70%;
    }

    .buttons{
        width: 70%;
    }
}