:root {
    color-scheme: light dark;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-div {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: light-dark(#EDEDED, #222831);
}

@media (prefers-color-scheme: dark) {
    .main-div {
        background: linear-gradient(90deg, rgb(34, 40, 49, 1) 58%, rgb(34, 40, 49, 0.1) 100%);
    }
}

@media (prefers-color-scheme: light) {
    .main-div {
        background: linear-gradient(90deg, rgba(237, 237, 237, 1) 58%, rgba(237, 237, 237, 0.1) 100%);
    }
}

.image-div {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.auth-text{
    position: absolute;
    top: 50px;
    left: 50px;
    color: light-dark(#222831, #EDEDED);
    z-index: 1;
}

.buttons-div, .form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: light-dark(#EDEDED, #222831);
    width: 40vw;
}

.head-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    width: 60%;
}

a{
    color: #F05454;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.input{
    background: light-dark(#DDDDDD, #EDEDED);
    color: #F05454;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #30475E;
}

.input::placeholder{
    color: #222831;
}

.password{
    display: flex;
    position: relative;
    align-items: center;
}

.password input{
    width: 100%;
}

.password img{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}

.loginButton, .registerButton, .updateButton, .deleteButton{
    outline: none;
    border: none;
    border-radius: 4px;
    color: #EDEDED;
    cursor: pointer;
    background: #F05454;
    padding: 15px;
}

.loginButton:hover, .registerButton:hover, .updateButton:hover, .deleteButton:hover{
    background: light-dark(#30475E, #EDEDED);
    color: #F05454;
}

.backButton, .logoutButton, .editButton{
    outline: none;
    border-radius: 4px;
    color: light-dark(#30475E, #DDDDDD);
    cursor: pointer;
    background: light-dark(#DDDDDD, #30475E);
    padding: 15px;
    border: 1px solid light-dark(#30475E, #DDDDDD);
}

.backButton:hover, .logoutButton:hover, .editButton:hover{
    background: light-dark(#30475E, #EDEDED);
    color: light-dark(#EDEDED, #30475E);
}

@media (max-width: 945px){
    .image-div img{
        display: none;
    }

    .form-div, .buttons-div{
        width: 100vw;
    }

    .head-div, .form{
        width: 50%;
    }
}

@media (max-width: 495px){
    .auth-text{
        top: 20px;
        left: 20px;
    }

    .form-div, .buttons-div{
        justify-content: start;
        padding-top: 40%;
    }

    .head-div, .form, .buttons{
        width: 100%;
    }
}